/*Variables */

:root {
  --dark-blue: #293449;    
  --red: #EE3643;          
  --green: #63A63E;        
  --blue: #32425C;         
  --orange: #FFBF47;        
  --light-blue: #3BBCE3;   
  --purple: #DC91D8;
  --light-green: #8ED78F;
  --light-orange: #FFC047;
  --gray: #A9A9A9; 
  --yellow: #FFD180;
  --light-brown: #F9F5F0;  
  --light-gray: #F1F5F7;   
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --dark-red: #BA2732;
  --silver:#C5C5C5;
  --dark-red: #CA2C37;
  --murrey: #BA2732;
  --cobalt: #212A3A;
  --light-silver: #E5E5E5;
  --zircon: #EAEAEA;
  --dark-green:#5FBB2D;
}

@font-face {
    font-family: 'Cuprum';
    src: local('Cuprum'), local('Cuprum-Regular'), url('../fonts/cuprum/cuprum.woff2') format('woff2'), url('../fonts/cuprum/cuprum.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Cuprum';
    src: local('Cuprum Italic'), local('Cuprum-Italic'), url('../fonts/cuprum/cuprumitalic.woff2') format('woff2'), url('../fonts/cuprum/cuprumitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Cuprum';
    src: local('Cuprum Bold'), local('Cuprum-Bold'), url('../fonts/cuprum/cuprumbold.woff2') format('woff2'), url('../fonts/cuprum/cuprumbold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Cuprum';
    src: local('Cuprum Bold Italic'), local('Cuprum-BoldItalic'), url('../fonts/cuprum/cuprumbolditalic.woff2') format('woff2'), url('../fonts/cuprum/cuprumbolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans'), local('PTSans-Regular'), url('../fonts/ptsans/ptsans.woff2') format('woff2'), url('../fonts/ptsans/ptsans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Italic'), local('PTSans-Italic'), url('../fonts/ptsans/ptsansitalic.woff2') format('woff2'), url('../fonts/ptsans/ptsansitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Bold'), local('PTSans-Bold'), url('../fonts/ptsans/ptsansbold.woff2') format('woff2'), url('../fonts/ptsans/ptsansbold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('../fonts/ptsans/ptsansbolditalic.woff2') format('woff2'), url('../fonts/ptsans/ptsansbolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}



/* Global */

body {
  width: 1200px;
  margin: 0;
  padding: 0;
  font-family:PT Sans;
  font-size: 13px;
  line-height: 24px;
  font-weight:400;
  color:var(--basic-black);
  background-color: var(--basic-white);
}
a {
  text-decoration: none;
  color:var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style-type:none;
}

input {
  border:none;
}

/* Header */

.main-header {
  font-family:Cuprum;
  font-size:18px;
  background-color:var(--light-gray);
}

.header-navigation {
  background-color:var(--dark-blue)
}

.header-navigation-logo {
  background-color: var(--red);
}

.header-navigation-logo :active {
  background-color: var(--dark-red);
}

.header-navigation-search {
  background-color: var(--dark-blue);
  border:none;
}

.header-navigation-search:focus {
  background-color: var(--basic-white);
  border:none;
}

.header-navigation-markers:active {
  background-color: var(--basic-black);
  opacity: 0.5;
}

.header-navigation-basket:active {
 opacity: 0.5; 
}

.header-button-order {
  background-color:var(--green)
}

.header-button-order:hover {
  background-color:var(--dark-green);
}
.header-button-order:active {
  opacity: 0.5;
}

.header-false-caption {
  font-size:16px;
  line-height:23px;
  color:var(--red);
  font-style:italic;
}

.header-information-number {
  font-size:21px;
  color:var(--red);
  font-weight:700;
  border: 2px solid white; 
}

.header-information-address {
  font-size:14px; 
  font-weight:400;
  color:var(--blue);
}

.header-information-cabinet {
  font-size:21px;
  color:var(--basic-black);
  background-color:var(--basic-white);
}

.header-information-cabinet a {
  color:var(--basic-black);
}

.header-information-cabinet a:hover {
  color:var(--red);
}
.header-information-cabinet a:active {
  color:var(--silver);
}

.header-main-contents {
  background-color:var(--blue);
}

.header-contents-item 
{
  display:inline;
}

.header-contents-item a:hover {
  background-color:var(--dark-blue);
}

.header-contents-item a:active {
  opacity: 0.5;
}

/*Body Main*/

.page-main-caption {
  display:none;
}
/*buttons*/

.button {
  background-color:var(--red);
  text-transform: uppercase;
}

.button:hover {
  background-color:var(--dark-red);
}

.button:active {
  background-color:var(--murrey);
}

/*Promo*/

.promo {
  font-family:Cuprum;
  color:var(--basic-white);
}

.promo-caption {
  font-size: 24px;
  font-style: normal;
  font-weight: 700px; 
  color:var(--basic-white);
}

.promo-button {
  background-color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}

.promo-button:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.promo-button:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.promo-item {
  background-repeat:no-repeat;
}

.promo-item-materials {
  background-color:var(--orange);
  background-image: url(../img/svg/icon-materials.svg);
}

.promo-item-instrument {
  background-color:var(--light-blue);
  background-image: url(../img/svg/icon-instrument.svg);
} 

.promo-item-technics {
  background-color: var(--purple);
  background-image: url(../img/svg/icon-technics.svg);
} 

.promo-item-discount {
  background-color:var(--light-green);
  background-image: url(../img/svg/icon-basket.svg);
}

.promo-item-delivery {
  background-color:var(--light-orange);
  background-image: url(../img/svg/icon-delivery.svg);
}

.promo-item-slider {
  background-image:url(../img/jpg/perforator.jpg);
  background-repeat: no-repeat;
}

.promo-slider-caption {
  font-size: 36px;
  font-weight:700;
  color:var(--basic-white);
}

/*Popular*/

.popular-caption-block {
  background-color:var(--light-brown);
}

.popular-caption-name {
font-size: 30px;
font-family: Cuprum;
font-weight: 400;
color:var(--dark-blue);
text-transform:uppercase;
}

/* Product card */

.products-card {
  border: 1px solid var(--zircon);
}

.card-caption {
  font-family:PT Sans;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.card-button-buy {
  font-size: 14px;
  font-family:Cuprum;
  background-color:var(--green);
  text-transform: uppercase;
}

.card-button-buy:hover {
  background-color: var(--dark-green);
}

.card-button-buy:active {
  background-color:#518534;
}

.card-button-markers {
  font-size: 14px;
  font-family:Cuprum;
  text-transform: uppercase;
  border: 3px solid var(--green); 
}

.card-button-markers a { 
  color: var(--blue);
}

.card-button-markers:hover {
  border-color:var(--blue);
}

.card-button-marker:active {
  border-color:var(--blue);
  opacity: 0.5;
}

.card-old-price {
  color: var(--gray);
  font-size: 17px;
  font-family: PT Sans;
  text-decoration: line-through;
}

.card-new-price { 
  font-family: PT Sans;
  color:var(--basic-white);
  font-size: 17px;
  font-weight: 700;
  width: 123px;
  height:38px;
  background: var(--red);
  border-radius: 4px;
  position: relative;
}

.card-new-price::after {
  content: ''; 
  position: absolute; 
  left: 122px; bottom: 2px; 
  border: 17px solid transparent; 
  border-left: 18px solid var(--red);   
}

.card-novelty {
background-color: var(--red);
text-transform: uppercase;
color:var(--basic-white);
}

/*Brands*/

.brand-item:active {
opacity: 0.5;
}

/*Service*/

.service {
  background-color:var(--light-gray);
}

.service-caption { 
  font-family:Cuprum;
  font-size:30px;
  color:var(--basic-black);
  text-transform: uppercase;
}

.service-item {
  font-size: 21px;
  font-weight:700;
  font-family:Cuprum;
  background-color: var(--blue);
}

.service-item:hover {
  background-color: var(--dark-blue); 
}

.service-item:active {
  background-color: var(--basic-white); 
} 

.service-item a:active {
  color:var(--blue);
}

.service-purpose-caption {
  font-size: 30px;
  font-family:Cuprum;
  text-transform: uppercase;
  color: var(--blue);
}

/* Company */

.company-caption {
  display:none;
}

.company-features-caption {
  font-size: 30px;
  font-weight: 400;
  font-family: Cuprum;
  text-transform: uppercase;
}

.company-features-item {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  list-style-image: url(../img/svg/line.svg); 
}
.company-contacts-caption {
  font-size: 30px;
  font-weight: 400;
  font-family: Cuprum;
  text-transform: uppercase;
}

/*Footer */

.main-footer {
 font-size: 18px;
 color:var(--basic-white)
}

.footer-navigation  {
  background-color:var(--blue);
}  

.footer-navigation-logo {
  background-color: var(--red);
}

.footer-navigation-item {
  display:inline;
}

.footer-navigation-item a:hover {
 text-decoration: underline; 
}

.footer-navigation-item a:active {
 opacity:50%;
 text-decoration: none; 
}

.footer-menu-item {
  display:inline; 
}

.footer-menu-item a {
  color:var(--yellow);
}

.footer-menu-item a:hover {
  text-decoration: underline; 
}

.footer-menu-item a:active {
  opacity:50%;
  text-decoration: none; 
}
.footer-social {
  font-size: 16px;
  line-height: 18px;
  background-color:var(--dark-blue);
}

.footer-social-item {
  display:inline;
 }

.footer-social-icon-circle {  
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background:var(--cobalt);
}

.footer-social-icon-circle:hover,
.footer-social-icon-circle:active {
  background:var(--red); 
}

.footer-feedback {
  color:var(--yellow); 
}

.footer-feedback:active {
  color:var(--red); 
}

.footer-developer {
  color:var(--yellow); 
}

.footer-developer:active {
  color:var(--red); 
}



/*Page CATALOG */

.header-private-cabinet {
  font-size:21px;
  color:var(--basic-black);
  background-color:var(--basic-white);
}

.header-private-cabinet a {
  color:var(--basic-black);
}

.header-private-cabinet a:active {
  color:var(--silver);
}

.header-cabinet-orders {
  font-size: 16px;
}

.header-cabinet-orders a {
  color:var(--blue);
}

.header-cabinet-orders a:hover {
  color:var(--red);
}

.header-cabinet-orders a:active {
  color:var(--silver);
}

/* Body Catalog*/

.catalog-caption-block {
  background-color: var(--light-gray);
}

.catalog-main-caption {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color:var(--blue);
  font-family:Cuprum;
}

.bread-crumbs-item {
  display: inline;
  text-transform: uppercase;
}

.bread-crumbs-item a {
   color:var(--basic-black);
}

/* Filter */

.filter-caption-block { 
  background-color: var(--light-brown)
}

.filter-caption-name {
  font-size: 13px;
  text-transform: uppercase;
  font-weight:400;
}

.filter-fieldset {
  border:none;
}

.filter-category-caption {
  font-size: 17px;
  font-weight:700;
  text-transform: uppercase;
}

.filter-range {
  background-color: var(--light-brown);
}

.filter-button {
border:1px solid gray;
}

.filter-button-show {
border: none; 
outline: none;
background-color:var(--basic-white);
text-transform: uppercase;
}

/*Sorting*/

.sorting {
  background-color: var(--light-brown)
}

.sorting-caption {
  font-size: 13px;
  text-transform: uppercase;
  font-weight:400; 
} 

.sorting-item {
  display: inline;
  text-transform: uppercase;
}

.sorting-item a {
  color:var(--basic-black);
  opacity:0.3 ;
}

.sorting-item a:hover {
  color:var(--red);
  opacity:1;
}

/*Catalog*/
.catalog-caption {
  display: none;
}

.catalog-navigation-item {
  display:inline;
  border:1px solid var(--light-silver);
}

.catalog-navigation-item a {
  color:var(--basic-black);
  text-transform: uppercase;
}

.catalog-navigation-item: hover {
  border-color: var(--silver)
}

.catalog-navigation-item:active {
  border-color: var(--red);
}

/*Article tool*/
.article-tool {
background-color:var(--light-gray);
}

.article-tool-caption {
  font-size: 30px;
  text-transform: uppercase; 
  font-family:Cuprum;
}